body{
  margin: 0;
}
.usePage{
  margin: 0 auto;
  width: 90%;
}

header{
  padding-top: 3vw;
  padding-right: 3vw;
  width: 100%;
  height: 7vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.settings{
  padding: 5%;
  width: 70%;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;

  background-color: white;
  transition: all .2s ease-in;

  *{
    margin-bottom: 5%;
  }
}
.opened{
  transform: translateX(0);
}
.carpet{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  transition: all .2s linear;
}
.active{
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
}

// ------------lists--------------

.data__listContainer{
  .carpet_test{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
  }
}
.data__list{
  padding: 5%;
  box-sizing: border-box;
  width: 70%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in;
  background-color: white;
}
.data__listContainer_active{
  .data__list{
    transform: translateX(0);
  }
  .carpet_test{
    visibility: visible;
    opacity: 1;
  }
}

.data__listItem{
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
}

.data__listItemAvatar{
  margin-right: 3%;
}

// ------------settings--------------

.settings__loader{
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  top: 30%;
  left: 43%;
  z-index: 11;
}
.settings__avatar{
  margin: 0 auto;
  margin-bottom: 10%;
  width: 20vw;
  height: 20vw;
}
.settings__saveButton{
  margin: 0 auto;
  margin-bottom: 5%;
  width: fit-content;
}
.settings__quitButton{
  margin: 0 auto;
  width: fit-content;
  color: red;
}

.name{
  margin: 0;
  padding-right: 3vw;
}
.avatar{
  width: 6vw;
  height: 6vw;
}

.data{
  width: 100%;
  height: 20vw;
  display: flex;
  justify-content: space-between;
}
.data__block{
  margin: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
}
.posts__post{
  width: 45vw;
  height: 45vw;
  box-sizing: border-box;
  outline: 2px solid black;
}
.posts__adding{
  position: relative;

  img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}