
.Loader{
  width: 30vw;
  height: 30vw;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 100;

  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: black;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0%{
    transform: translateX(-50%) rotate(0);
  }
  100%{
    transform: translateX(-50%) rotate(360deg);
  }
}
