:root{
  --Tablist-height: 10vw;
}

body{
  margin-bottom: calc(var(--Tablist-height) + 5%) !important;
}
.TabsList{
  width: 100%;
  height: var(--Tablist-height);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
}
.Tab{
  width: 33.4%;

  border: 0;
  transition: all .1s linear;
}
