.posts__post{
  margin-bottom: 3%;
  width: 48%;

  p{
    margin: 0;
    font-size: 1.5em;
  }
  span{
    margin-top: 2%;
    display: block;
    font-size: 1em;
  }
}
.posts__user{
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.posts__avatar{
  margin-right: 5%;
  width: 5vw;
  height: 5vw;
}


// -------------------
.posts__adding{
  position: relative;
  outline: 2px solid black;
  padding-top: 50%;

  img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

